.App {
  text-align: center;
}
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
}
.profile>div{
  margin: 10px 0;
}
.pic{
  width: 150px;
}